<!DOCTYPE html>
<html ng-app="testApp">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        
        <link rel="stylesheet" type="text/css" media="screen" href="app/styles/style.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="app/styles/mapStyle.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="app/styles/start.css" />
        

        <meta name="msapplication-tap-highlight" content="no" />
        <title>Test</title>
        
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=2b866a6daac9014292432d81fe9b47e3"></script>
        <script src="http://maps.googleapis.com/maps/api/js?sensor=false&v=3.14" ></script>

        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
        <script type="text/javascript" src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>

        <script type="text/javascript" src="bower_components/qrcode/lib/qrcode.js"></script>
        <script type="text/javascript" src="bower_components/angular-qr/src/angular-qr.js"></script>

        <script type="text/javascript" src="app/libs/angular-animate.js"></script>
        
        <script type="text/javascript" charset="utf-8" src="cordova.js"></script>
        <script type="text/javascript" src="app/scripts/app.js"></script>
        <script type="text/javascript" src="app/scripts/start.js"></script>
        <script type="text/javascript" src="app/scripts/scanner.js"></script>
        <script type="text/javascript" src="app/scripts/qrEncode.js"></script>
        <script type="text/javascript" src="app/scripts/takePic.js"></script>
        <script type="text/javascript" src="app/scripts/baiduMap.js"></script>
        <script type="text/javascript" src="app/scripts/googleMap.js"></script>

        <style>            
            
    </style>
    </head>

    <body ng-controller="mainCtl">
        <div class="Header" id="Header">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="60px">
                <tr>
                    <td class="header Left" ng-click="navHelp.back(backShow.name)">
                        <img ng-show="backShow.flag" ng-click="navHelp.back(backShow.name)"src="app\imges\arrowed-big-left-white.png" />
                    </td>
                    <td class="header Middle">
                        <p> {{backShow.title}} </p>
                    </td>
                    <td class="header Right">
                        &nbsp;
                    </td>
                </tr>
            </table>
        </div>

        <div class="Bodyer" id="Bodyer" ui-view ng-class="navHelp.slide">
        </div>

    </body>
</html>
