
 .BMap_cpyCtrl ,.BMap_noprint ,.anchorBL{
 	display: none;
 }

 .gmnoprint a, .gmnoprint span {
  	display:none;
}
.gm-style-cc{
  	display:none;
}

/**** Map ****/
.MapPositon {
	position: relative;
	margin-left: 1%;
	height: inherit;
}

.MapPositon img {
	position: absolute;
	bottom: 15px;
}